
@keyframes shake {
  30% {
    transform: translateX(-3px);
  }

  20% {
    transform: translateX(40px);
  }

  30% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(3px);
  }
}